services:
  mongo:
    image: mongo:7
    platform: linux/arm64/v8
    container_name: file-drive-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: file-drive-redis
    ports:
      - "6379:6379"

volumes:
  mongo_data: